libgit2.a
data
.gnostr
.genkit
xcuserdata
/.direnv
damus/TestingPrivate.swift
.DS_Store
TODO.bak
.swiftpm/
install/
libgit2-1.3.1/
libssh2-1.10.0.tar.gz
libssh2-1.10.0/
openssl-3.0.4.tar.gz
openssl-3.0.4/
pcre-8.45/
v1.3.1.zip